<div class="jumbotron">
  <h1 class="display-4">Main page</h1>
  <hr class="my-4">
    <p>
      You can:  
    </p>
    <div class="list-group">
      <a href="/technologies" class=" list-group-item list-group-item-action">Watch technologies list</a>
        <a href="/technologies/add" class=" list-group-item list-group-item-action">Add technology</a>
    <div>
</div>